body {
  background-color: rgb(234, 234, 234);
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

#catBox {
  display: flex;
  justify-content: center;
  border-color: 5px black;

}

#catGrid {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-radius: 10px;
  background-color: rgb(201, 200, 205)
}

.catButtons {
  border: none;
  margin: none;
  border-radius: 10px;
  padding: 10px;
}

#catImages {
  max-width: 200px;
}

#modalXFlexBox {
  display: flex;
  justify-content: right;
}

#closeModalBtn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}